<form tuiForm="l" [formGroup]="searchForm" class="search-form">
    <div class="grid-container">
      <app-customtextfeild formControlName="fromDate" label="Từ ngày" placeholder="dd/mm/yyyy" type="date"></app-customtextfeild>
      <app-customtextfeild formControlName="toDate" label="Đến ngày" placeholder="dd/mm/yyyy" type="date"></app-customtextfeild>
      <app-customtextfeild formControlName="transId" label="TransID" placeholder=""></app-customtextfeild>
      <app-customtextfeild formControlName="paymentStatus" label="Trạng thái quyết toán" type="select" 
      [options]="statusQuery.data()"></app-customtextfeild>
  
      <app-customtextfeild formControlName="reviewStatus" label="Trạng thái tra soát" type="select" 
      [options]="statusQuery.data()"></app-customtextfeild>
      <app-customtextfeild formControlName="cardNumber" label="Số thẻ" placeholder="Định dạng 94040101xxxxx0001"></app-customtextfeild>
      <app-customtextfeild formControlName="branch" label="Chi nhánh tạo yêu cầu" type="select" 
      [options]="branchQuery.data()"></app-customtextfeild>
      <app-customtextfeild formControlName="ticketNumber" label="Số phiếu xử lý" placeholder=""></app-customtextfeild>
  
      <app-customtextfeild formControlName="standardNumber" label="Số chuẩn chi" placeholder=""></app-customtextfeild>
      <app-customtextfeild formControlName="traceNumber" label="Số trace" placeholder=""></app-customtextfeild>
      <app-customtextfeild formControlName="deviceId" label="Mã thiết bị" placeholder=""></app-customtextfeild>
      <app-customtextfeild formControlName="cardType" label="Loại thẻ" type="select" 
      [options]="cardQuery.data()"></app-customtextfeild>
      <app-customtextfeild formControlName="dateEx" label="Thời hạn xử lý - ĐV nhận" placeholder=""></app-customtextfeild>
    </div>
  
    <div class="flex justify-between mx-5">
      <div class="btn-group my-5 flex gap-3">
        <button  type="submit" class="btn ">Tìm kiếm</button>
        <button  type="submit" class="btn" (click)="exportExcel()">Export</button>
    </div>
    <div class="btn-group-2 my-5 flex gap-3">
      <button  class="btn btn-border">Xử lý TS</button>
      <button  class="btn btn-border">Từ chối xử lý TS</button>
      <button  class="btn btn-border">Trả lời TS</button>
      <button  class="btn ">Trả lời TS theo lô</button>
      <button  class="btn btn-border">Duyệt TL</button>
      <button  class="btn btn-border">Từ chối duyệt TL</button>
    </div>
    </div>
    
  </form>
  