/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
.btn {
  color: #167775;
  background-color: #B1E6E4 ;
  padding: 5px 10px ;
  font-weight: bold ;
  border-radius: 5px ;
}
.btn-border {
  border: 1px solid #167775;
}
.btn-outline {
  background-color: unset;
}